<%- include('page_body_top')  %> 

<form class="form-container">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="pword">Password:</label>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Log In">
    

</form>


<%- include('page_body_bottom')  %> 
