<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="/"><img src="/static/icon.png" width="32px" height="32px"></a>
            <a href="/" class="navigation-link">Home</a>
            <a href="/about" class="navigation-link">About</a>
            <% if (is_logged) { %>
            <a href="/myposts" class="navigation-link">My Posts</a>    
                <div class="login-group">
                    <a href="/new_post" class="navigation-link">New Post</a>
                    <a href="#" class="navigation-link"> <%= cur_user %> </a>
                    <a href="/logout" class="navigation-link">Log Out</a>
                </div>
            <% } %>
            <% if (!is_logged) { %> 
                <div class="login-group">
                    <a href="/login" class="navigation-link">Log In</a>
                    <a href="/signin" class="navigation-link">Sign In</a>
                </div>
            <% } %> 
            
        </div>